body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:#2b2b2b;
}

p{
    font-size: 25px;
}

#particles-js{
    height: 100vh;
    background: #2b2b2b;
}

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}
  
.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}
  
.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}

.hero-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto {
    margin-top: 50px;
    text-align: center;
    font-family: Arial;
    font-size: 1em;
  }
  
@media (min-width: 600px) {
    .texto {
      font-size: 1.1em;
    }
}
  
@media (min-width: 1100px) {
    .texto {
      font-size: 1.2em;
    }
}
  
@media (min-width: 2200px) {
    .texto {
      font-size: 1.4em;
    }
}

.parallax {
    /* The image used */
    background-image: url("img/coding-on-a-computer.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}